@import "~antd/dist/antd.css";

.ant-layout-sider-zero-width-trigger {
  top: 8px !important;
}
.logo {
  color: white;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}
#components-layout-demo-responsive .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.2);
}
.site-layout-sub-header-background {
  background: #001529;
}
.site-layout-background {
  background: #fff;
}
.layout {
  display: flex;
  justify-content: space-between;
  width: 100%
}
.layout-2 {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  width: 100%;
}
.investment-layout {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 8px;
}
.card-small {
  height: 200px;
}
.card-medium {
  height: 250px;
}
.card-large {
  height: 405px;
}
.card-large-2 {
  width: 100%;
  height: 405px;
}
.card-large-3 {
  width: 100%;
  height: 405px;
}
.card-xl {
  width: 100%;
  height: 405px;
}
.card-wide {
  width: 100%;
  height: 150px;
}
.card-wide-mini {
  height: 200px;
}
.card-calendar {
  width: 300px;
  font-size: smaller;
}
.calendar {
  width: 100%;
}
.ant-picker-calendar-header {
  padding: 0;
  padding-bottom: 5px;
}
.search-bar {
  display: flex;
  gap: 5px;
  padding: 8px 0;
}
.popup-form {
  z-index: 9;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  background-color: #f0f2f5;
  border: 1px solid #f0f0f0;
  width: 30%;
  padding: 20px;
}
.btn-form-close {
  margin-left: auto;
}
.popup-background {
  filter: blur(8px);
  -webkit-filter: blur(8px);
}
.icons {
  font-size: 15px;
}
.net-worth-overview {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  text-align: center;
}
.flex-between {
  display: flex;
  justify-content: space-between;
}
.investment-form-tickers {
  height: 250px;
  overflow: scroll;
}
.confirm-investment {
  z-index: 10;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  padding: 10px;
  border: 1px solid #f0f0f0;
  background-color: #001529;
  width: 20%;
  display: flex;
  flex-direction: column;
}
.flex-list {
  display: flex;
  flex-direction: column;
}
.btn-center {
  width: auto;
}
.btn-center button {
  width: 100%;
  height: 100%;
}
.no-border {
  border: none;
}
.overflow-scroll {
  overflow: scroll;
  height: 300px;
  overflow-x: hidden;
}
.overflow-scroll::-webkit-scrollbar {
  width: 1px;
}
.overflow-scroll::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.overflow-scroll::-webkit-scrollbar-thumb {
  background: #888;
}

@media (min-width: 320px) {
  .layout {
    flex-wrap: wrap;
    flex-direction: column;
    gap: 8px;
  }
  .layout-2 {
    flex-wrap: wrap;
    flex-direction: column;
    gap: 8px;
  }
  .investment-layout {
    flex-wrap: wrap;
  }
  .card-small {
    width: 100%;
  }
  .card-medium {
    width: 100%;
  }
  .card-large {
    width: 100%;
  }
  .card-large-2 {
    width: 100%;
  }
  .card-large-3 {
    width: 100%;
  }
  .card-wide {
    width: 100%;
  }
  .popup-form {
    width: 80%;
  }
}
@media (min-width: 768px) {
  .layout {
    flex-direction: row;
  }
  .investment-layout {
    flex-wrap: nowrap;
  }
  .card-small {
    width: 300px;
  }
  .card-medium {
    width: 300px;
  }
  .popup-form {
    width: 50%;
  }
   .card-large-1 {
    width: 100%;
  }
  .card-large-2 {
    width: 100%;
  }
  .card-large-3 {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .layout {
    flex-direction: row;
  }
  .layout-2 {
    flex-direction: row;
  }
  .popup-form {
    width: 50%;
  }
   .card-large-1 {
    width: 24%;
  }
  .card-large-2 {
    width: 24%;
  }
  .card-large-3 {
    width: 50%;
  }
}
